{% extends "main.html" %}
{% block tabs %}
    {{ super() }}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap%27'); 

        .background{
            display: flex;
            position: relative;
            height: 100vh;
            background: url('assets/images/background.svg') no-repeat center;
            background-size: cover;
            justify-content: center;
        }

        .box{
            width: 100%;
            max-width: 1200px;
            height: max-content;
            border: solid black 1px;
        }
        
        .apresentacao{
            height: 70vh;
            border: solid black 1px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
        }

        .titulo-descritivo{
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-size: clamp(7em, 1em + 6vh, 7.5em);
            color: #F6F6F6;
            margin: 0;
            line-height: 90%;
        }

        .sub{
            font-weight: 100;
            font-size: clamp(4em, 1em + 4.5vh, 4.5em);
        }

        .minor{
            margin-top: .5em;
            display: flex;
            position: relative;
            font-size: clamp(1em, 1em + 2vh, 1.5em);
            line-height: 1em;
            margin-left: .5em;
            width: 100%;
            max-width: fit-content;
            height: 10vh;
            align-items: center;
            text-align: justify;
            color: #f6f6f68e;
        }
        .minor::before{
            content: '';
            display: inline-block;
            width: .1rem;
            height: 9vh;
            background: yellow;
            position: absolute;
            left: -.5em;
        }

        .illustration{
            width: 100%;
            height: 100%;
            max-width: 550px;
            margin-left: 5em;
        }

        .conteudo{
            margin-top: 30vh;
            font-family: "Roboto", sans-serif;
            color: #1d1d1d;
        }

        .titulo{
            font-weight: 700;
            font-size: xx-large;
            margin: 0 5vh 0 5vh;

        }

        .descricao{
            font-weight: 400;
            font-size: large;
            text-align: justify;
            margin: 0 5vh 3vh 5vh;
        }

        @media only screen and (max-width: 768px) {
            .box{
                height: max-content;
            }
            .apresentacao{
                padding: 5vh;
                flex-wrap: wrap;
            }
            .titulo-descritivo{
                font-size: 5vh;
            }
            .sub{
                font-size: 4vh;
            }
            .minor{
                font-size: 1.5vh;
            }
            .illustration{
                height: 40vh;
                margin: 0;
            }
        }

    </style>

    <section>
        <div class="background">
            <div class="box">
                <div class="apresentacao">
                    <div class="info">
                        <p class="titulo-descritivo">Informações<br>administrativas</p>
                        <p class="sub titulo-descritivo">ao seu alcance</p>
                        <p class="sub titulo-descritivo minor">Acesse as informações detalhadas através de dashboards dos departamentos que deseja.
                            Tenha um melhor controle da quantidade de alunos matriculados, vagas ofertadas e salas disponíveis.
                            Facilite sua vida, use o INDICAA.</p>
                    </div>
                    <img src="assets/images/illustration.svg" alt="illustration" class="illustration">
                </div>
                <div class="conteudo">
                    <section class="grupo">
                        <p class="titulo">Sobre o Projeto</p>
                        <p class="descricao">
                            Com o retorno às atividades presenciais, faz-se necessária a volta da divisão de sala para cada professor, relacionando o número de alunos matriculados; 
                            as vagas ofertadas pelas matérias; e as salas disponíveis. Tendo em vista essa atividade e a alta demanda de tempo para buscar as informações no site do Sigaa, 
                            foi proposto um projeto com a ideia de criar um software capaz apresentar um painel com os indicadores do SIGAA, 
                            de modo a facilitar a visualização dessas informações e o trabalho da secretaria na organização da volta das aulas presenciais.</p>
                    </section>
                    <section>
                        <p class="titulo">Principais funcionalidades</p>
                        <p class="descricao">Considerando o objetivo do produto, existe um conjunto de funcionalidades de maior importância, são elas: 
                            <br>- Quantidade de disciplinas ofertadas por curso
                            <br>- Quantidade de vagas ofertadas por curso 
                            <br>- Quantidade de alunos matriculados por curso 
                            <br>- Quantidade de salas disponiveis por curso</p>
                    </section>
                    <section>
                        <p class="titulo">Licença</p>
                        <p class="descricao">
                            Este projeto está licenciado sob os termos da licença GNU GPL v3.0.<br>
                            Caso queira contribuir, visualize o nosso contributing.</p>
                    </section>
                </div>
            </div>    
        </div>
    </section>
    
{% endblock %}

<!-- Content -->
{% block content %}{% endblock %}

{% block site_nav %}{% endblock %}

<!-- Application footer -->
{% block footer %}{% endblock %}