{% extends "main.html" %}
{% block tabs %}
    {{ super() }}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap%27'); 

        .background{
            display: flex;
            position: relative;
            height: 100vh;
            background: url('assets/images/background.svg') no-repeat center;
            background-size: cover;
            justify-content: center;
        }

        .box{
            width: 145vh;
            height: 120vh;
            border: solid black 1px;
        }
        
        .apresentacao{
            height: 70vh;
            border: solid black 1px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
        }

        .titulo{
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-size: 7.5vh;
            color: #F6F6F6;
            margin: 0;
            line-height: 90%;
        }

        .sub{
            font-weight: 100;
            font-size: 5vh;
        }

        .minor{
            margin-top: .5em;
            display: flex;
            position: relative;
            font-size: 1.8vh;
            line-height: 1em;
            margin-left: .5em;
            width: 50vh;
            height: 10vh;
            align-items: center;
            text-align: justify;
            color: #f6f6f68e;
        }
        .minor::before{
            content: '';
            display: inline-block;
            width: .1rem;
            height: 9vh;
            background: yellow;
            position: absolute;
            left: -.5em;
        }

        .illustration{
            height: 60vh;
            margin-left: 5em;
        }

    </style>

    <section>
        <div class="background">
            <div class="box">
                <div class="apresentacao">
                    <div class="info">
                        <p class="titulo">Informações<br>administrativas</p>
                        <p class="sub titulo">ao seu alcance</p>
                        <p class="sub titulo minor">Acesse as informações detalhadas através de dashboards dos departamentos que deseja.
                            Tenha um melhor controle da quantidade de alunos matriculados, vagas ofertadas e salas disponíveis.
                            Facilite sua vida, use o INDICAA.</p>
                    </div>
                    <img src="assets/images/illustration.svg" alt="illustration" class="illustration">
                </div>
            </div>    
        </div>
    </section>
    
{% endblock %}

<!-- Content -->
{% block content %}{% endblock %}

{% block site_nav %}{% endblock %}

<!-- Application footer -->
{% block footer %}{% endblock %}