.searchInput{
    display: flex;
    align-items: center;
    border: 1px solid rgba(43, 43, 43, 0.466);
    border-radius: 3em;

    padding: 0 0.5em 0 1em;

    width: 60vw;
    height: 7vh;
    gap: 0.5em;
}

.searchInput input{
    border: 0;
    outline: 0;
    background: none;
    font-size: 1.5vw;
    width: 100%;
}

input::placeholder{
    color: rgba(128, 128, 128, 0.603);
}

.material-icons{
    font-size: 1.8vw;
    color: #00000073;
}

.material-icons-round{
    color: white;
    font-size: 1.5vw;
    cursor: pointer;
    transition: linear 0.25s;
}

.button{
    display: flex;
    cursor: pointer;
    width: 1.5vw;
    height: 1.5vw;
    padding: 0.5em;
    background-color: #19437D;
    border-radius: 3em;
    align-items: center;
    justify-content: center;
    transition: linear 0.25s;
}

.button:hover .material-icons-round{
    color: #383C45;
    transition: linear 0.25s;
}

.button:hover{
    background-color: #EFF4F2;
    transition: linear 0.25s;
}

