.Bottom{
    display: flex;
    width: fit-content;
    height: fit-content;
    margin-bottom: 2em;
    align-items: center;
    justify-content: center;
  }

  .container-buttons{
    display: flex;
    width: 60vw;
    justify-content: space-between;
  }

  .button-campus{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 8vh;
    background-color: #19437D;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.5vw;
    border-radius: 0.5em;
    transition: linear 0.25s;
    cursor: pointer;
  }

  .selected{
    background-color: #006633;

  }