.container-graphics{
    display: grid;
    width: 70vw;
    height: 50vh;
    margin-left: 1em;
    justify-content: center;
}

.inputResult{
    text-align: center;
    background-color: #006633;
    height: fit-content;
    width: fit-content;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    padding: 0.3em;
    border-radius: 0.5vw;
    justify-self: center;
    margin-bottom: 0.5em;
}

.graphics{
    width: 67vw;
}

.details{
    width: 45vw;
}