.filter{
  position: absolute;
  margin-top: 27vh;
  margin-left: 5vw;
  color: #383c45;
  display: grid;
  background-color: #EFF4F2;
  border-radius: 3em;
  width: fit-content;
  height: fit-content;
  padding: 0vh 0.8vw 4vh;
  letter-spacing: -0.05rem;
  border: 0.5px #383c450a solid;
}
h4{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    margin: 0vh;
    padding-top: 4vh
}
label{
  font-family: 'Roboto', sans-serif;
  font-size: 1.2vw;
}