.Top {
  width: 60vw;
  height: fit-content;
  display: flex;
  margin-top: 0.5em;
  border-top-right-radius: 3em;
  border-top-left-radius: 3em;
  margin-bottom: 0.5em;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
}

.Name{
    height: fit-content;
    width: fit-content;
    background-color: #006633;
    border-radius: 0.2em;
    text-align: center;
    color: white;
    font-family: 'Montserrat Regular', sans-serif;
    font-size: 3.5vw;
    letter-spacing: 0.5rem;
    padding: 0vw 1vw 0vw 1vw;
    margin-top: 2vh;
  }

.flex{
  display: flex;
}

.logo-INDICAA{
    width: 5vw;
    margin-top: 2vh;
    margin-right: 1em;
}

.logo-GIT{
    width: 2.5vw;
}

.material-icons#info{
  font-size: 2.5vw;
  color: #19437D;
}

.info{
  display: flex;
  position: absolute;
  width: 10vw;
  height: 7vw;
  background-color: #19437D;
  border-radius: 1vw;
  transition:  0.4s;
  align-items: center;
}

.content-info{
  display: flex;
  position: absolute;
  opacity: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8vw;
  text-align: center;
  padding: 1em;
  transition: 0.5s;
  color: white;
}

.without-content{
  display: flex;
  position: absolute;
  opacity: 0;
  color: white;
  cursor:default;
}