.Top {
  width: fit-content;
  height: fit-content;
  display: flex;
  margin-top: 0.5em;
  border-top-right-radius: 3em;
  border-top-left-radius: 3em;
  margin-bottom: 0.5em;
  justify-self: center;
}

.Name{
    width: auto;
    height: 9vh;
    background-color: #006633;
    border-radius: 0.2em;
    text-align: center;
    color: white;
    font-family: 'Montserrat Regular', sans-serif;
    font-size: 3.5vw;
    letter-spacing: 0.5rem;
    padding: 0vw 1vw 0vw 1vw;
    margin-top: 2vh;
  }

  .logo{
    width: 7vw;
  }